html, body {
    background: #101212;
    font-family: "Helvetica Neue",Arial,sans-serif;
    margin: 0;
    padding: 0;
}

#fps {
    color: red;
}
h1 {
    font-size: 36px;
    font-weight: 300;
    color: #4578ac;
}

#logo {
    position: fixed;
        top: 20px;
        left: 10px;
    z-index: 1000;
}
#logo h1 {
    font-size: 64px;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
}
#fps {
    background: #333;
    color: #DDD;
    font-size: 13px;
    line-height: 30px;
    position: fixed;
        left: 0;
        bottom: 0;
    text-align: center;
    width: 60px;
}
#content {
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    width: 100%;
}
#tooltip {
    background: #333;
    border-radius: 0.5em;
    color: #DDD;
    display: none;
    font-size: 13px;
    padding: 1em;
    pointer-events: none;
    position: fixed;
    width: 150px;
    z-index: 1001;
}
#map {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
        left: 0;
        top: 0;
    width: 100%;
    z-index: 1;
}

#sidebar {
    background: #cdcdcd;
    height: 100%;
    position: absolute;
        right: 0;
        top: 0;
    width: 400px;
    z-index: 2;
}
#sidebar .content {
    padding: 1em;
}

#map svg {
    position: absolute;
        top: 0;
        left: 0;
}

#info {
    position: absolute;
    z-index: 10;
    left: 25px;
    top: 25px;
}

.frame {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #56535A;
    stroke: #afafcf;
    stroke-width: .5px;
}

.feature:hover {
    fill: #343434;
    stroke: white;
    stroke-width: 1.5px;
}

.globe {
    fill: #101349;
    stroke: #404343;
    stroke-width: 0px;
}
