<!DOCTYPE html>
<html>
<head>
<title>gunho</title>
<link type="text/css" rel="stylesheet" href="/static/css/toastr.css" />
<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
<meta charset="utf-8" />
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<!--<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v0.min.js"></script>
-->
<script src="http://marcneuwirth.com/experiments/globe/d3.custom.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/script.js"></script>
</head>
<body>

<div id="logo">
  <h1>gunho</h1>
  <h5 id="fps"></h5>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>

</body>
</html>
