{% extends "layout.html" %}

{% block content %}

<div id="map"></div>
<div id="sidebar">
  <div class="content well" style="margin-top: 50px">
    <h1>SYM</h1>
    <h3 style="margin-top:20px; margin-bottom: 20px; ">START to END</h3>
    <div style="width:283px;margin: 0 auto; ">
      <button class="btn" id="prev" style="width: 99px;"><i class="icon-step-backward"></i> previous</button>
      <button class="btn" id="play" style="width: 70px;"><i class="icon-play"></i> play</button>
      <button class="btn" id="next" style="width: 99px;">next <i class="icon-step-forward"></i></button>
    </div>
    <div class="icons" style="position: fixed; bottom: 10px; right: 10px;">
      <a href="http://www.10gen.com/"><img src="static/img/10gen.png" width="96px"/></a>
      <a href="https://www.mongohq.com/home"><img src="static/img/mongohq.png" width="42px"/></a>
      <a href="http://www.quandl.com/"><img src="static/img/quandl.png" width="42px"/></a>
    </div>
  </div>
</div>

{% endblock %}
